body {
  background-color: #f8f9fb;
  /* background-color: #e7eaef; */
  /* margin: 0; */
}

* {
  font-family: "Ubuntu", sans-serif;
  color: rgb(17, 17, 17);
  box-sizing: border-box;
}

main,
header {
  max-width: 1024px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1,
h2,
h3,
p {
  margin: 0;
}

header h1 {
  margin: 12px 0;
  font-size: 42px;
}

header h2 {
  margin: 12px 0;
  font-size: 28px;
  color: #217074;
}

header p {
  font-size: 20px;
  opacity: 0.8;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
  font-size: 18px;
  opacity: 0.8;
}

.contacts a:hover {
  color: #217074;
}

.contacts a img {
  width: 25px;
}

.project-list {
  margin: 64px 0;
}

.project-list__item {
  display: flex;
  margin-bottom: 24px;
  gap: 24px;
}

.project-list__item:nth-child(2n) {
  flex-direction: row-reverse;
  text-align: right;
}

.project-img {
  width: 50%;
}

.project-img img {
  border-radius: 4px;
  box-shadow: 0 0 24px -16px;
}

.project-description {
  width: 50%;
}

img {
  width: 100%;
}

.project-description h3 {
  color: #217074;
  font-size: 24px;
  margin-bottom: 12px;
}

.project-links a {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #217074;
  color: #f8f9fb;
}

.project-links a:hover {
  opacity: 0.8;
}

.project-info {
  margin: 12px 0;
}

.other-projects {
  margin-bottom: 64px;
}

.other-projects h2 {
  margin-bottom: 18px;
  font-size: 28px;
}

.other-projects a {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 18px;
}

@media (max-width: 760px) {
  body {
    padding: 24px;
  }
  .project-list__item {
    flex-direction: column;
  }

  .project-list__item:nth-child(2n) {
    flex-direction: column;
    text-align: left;
  }

  .project-description {
    width: 100%;
  }
  .project-img {
    width: 100%;
  }

  header h1 {
    margin: 12px 0;
    font-size: 36px;
  }

  header h2 {
    margin: 12px 0;
    font-size: 24px;
    color: #217074;
  }

  header p {
    font-size: 20px;
    opacity: 0.8;
  }
}
