@import '../../scss/variables';


.button {
    text-transform: uppercase;
    background: none;
    border: none;
    padding: 8px 24px;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
}

.text {
    color: $orange;

    &:hover {
        color: $orange;
        background-color: #fff;
    }
}

.contained {
    background-color: $orange;
    color: #fff;

    &:hover {
        color: $orange;
        background-color: #fff;
    }
}

.outlined {
    color: $orange;
    border: 1px solid $orange;

    &:hover {
        background-color: $orange;
        color: #fff; 
    }
}